@import url("https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css");

.App {
  font-family: sans-serif;
  text-align: center;
}

@media screen and (min-width: 900px) {
  .inner-container {
    transform: scale(1.4);
  }
}

.calcButtonsRow {
  height: 60px;
}
